
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noindex">
<meta name="google-signin-client_id" content="<%= GClientID() %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% if(ContentData.tokens !== undefined && ContentData.tokens != ""){ %>
<meta name="csrf-token" content="<%= ContentData.tokens %>">
<% } %>

<title>Sebis Les - Admin Panel</title>

<link href="https://sebisedu.co.id/edu/assets/images/favicon/favicon.png" rel="icon">

<!-- ========== COMMON STYLES ========== -->
<link rel="stylesheet" href="/options_admin/css/bootstrap.min.css" media="screen" >
<link rel="stylesheet" href="/options_admin/css/font-awesome.min.css" media="screen" >
<link rel="stylesheet" href="/options_admin/css/animate-css/animate.min.css" media="screen" >
<link rel="stylesheet" href="/options_admin/css/lobipanel/lobipanel.min.css" media="screen" >

<!-- ========== PAGE STYLES ========== -->
<link rel="stylesheet" href="/options_admin/css/prism/prism.css" media="screen" > <!-- USED FOR DEMO HELP - YOU CAN REMOVE IT -->
<link rel="stylesheet" href="/options_admin/css/icheck/skins/line/blue.css" >
<link rel="stylesheet" href="/options_admin/css/icheck/skins/line/red.css" >
<link rel="stylesheet" href="/options_admin/css/icheck/skins/line/green.css" >
<link rel="stylesheet" href="/options_admin/css/sweet-alert/sweetalert.css" media="screen" >
<link rel="stylesheet" href="/options_admin/css/switchery/switchery.min.css" >
<link rel="stylesheet" href="/options_admin/css/x-editable/css/bootstrap-editable.css" >
<link rel="stylesheet" type="text/css" href="/options_admin/css/date-picker/jquery.timepicker.css" />
<link rel="stylesheet" type="text/css" href="/options_admin/css/date-picker/bootstrap-datepicker.css" />

<!-- ========== THEME CSS ========== -->
<link rel="stylesheet" href="/options_admin/css/main.css" media="screen" >

<!-- ========== MODERNIZR ========== -->
<script src="/options_admin/js/modernizr/modernizr.min.js"></script>
