
					<!-- ========== LEFT SIDEBAR ========== -->
                    <div class="left-sidebar fixed-sidebar bg-black-300 box-shadow">
                        <div class="sidebar-content">
                            <%- include("left-nav-user-info.ejs") %>
                            <!-- /.user-info -->

                            <%- include("left-nav-main-menu.ejs") %>
                            <!-- /.sidebar-nav -->
                        </div>
                        <!-- /.sidebar-content -->
                    </div>
                    <!-- /.left-sidebar -->