					<div class="main-page">
						<div id="app">
                            <div class="container-fluid">
                                <!-- /.row -->
                                <div class="row breadcrumb-div">
                                    <div class="col-md-6">
                                        <ul class="breadcrumb">
                                            <li><a href="beranda.html"><i class="fa fa-home"></i> Beranda</a></li>
                                            <li class="active">Profile</li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-6 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->

                            <section class="section">
                                <div class="container-fluid">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alert alert-info left-icon-alert" role="alert">
                                                <strong>
                                                    Harap mengisi data diri dengan benar.
                                                </strong>
                                                <p>
                                                    Data anda tersimpan aman dalam sistem kami.
                                                </p>
                                            </div>
                                            <!-- /.alert alert-info -->
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <form-wizard :start-index="startWizard" ref="profileFormWizard" next-button-text="Berikutnya" back-button-text="Kembali" finish-button-text="Simpan" @on-complete="onComplete" color="gray" class="bg-white" title="" subtitle="" error-color="#a94442">

                                                <tab-content title="Informasi Dasar" icon="fa fa-user" :before-change="beforeTab1">
                                                    <form id="formTab1" ref="formTab1">
                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-9">
                                                                <div class="form-group">
                                                                    <label class="control-label">Nama Lengkap <sup class="color-danger">*</sup></label>
                                                                    <input type="email" class="form-control" placeholder="Nama lengkap" required v-model="user.name">
                                                                    <!--                                                                <span class="help-block form-error">Nama lengkap tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Jenis Kelamin <sup class="color-danger">*</sup></label>
                                                                    <select class="form-control" v-model="user.gender">
                                                                        <option value="male">Pria</option>
                                                                        <option value="female">Wanita</option>
                                                                    </select>
                                                                    <!--                                                                <span class="help-block form-error">Jenis kelamin tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">No. HP <sup class="color-danger">*</sup></label>
                                                                    <input type="text" class="form-control" placeholder="08xxxxxxxxxx" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" required v-model="user.phone">
                                                                    <!--                                                                <span class="help-block form-error">Nomor HP tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-2">
                                                                <div class="form-group">
                                                                    <label class="control-label">Agama <sup class="color-danger">*</sup></label>
                                                                    <select class="form-control" required v-model="user.religion">
                                                                        <option value="islam">Islam</option>
                                                                        <option value="katolik">Katolik</option>
                                                                        <option value="protestan">Protestan</option>
                                                                        <option value="budha">Budha</option>
                                                                        <option value="hindu">Hindu</option>
                                                                        <option value="konghucu">Konghucu</option>
                                                                    </select>
                                                                    <!--                                                                <span class="help-block form-error">Agama tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Tempat Lahir <sup class="color-danger">*</sup></label>
                                                                    <input type="text" class="form-control" placeholder="Surabaya" required v-model="user.birth_place">
                                                                    <!--                                                                <span class="help-block form-error">Tempat lahir tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Tanggal Lahir <sup class="color-danger">*</sup></label>
                                                                    <div class='input-group date table-adjust' id='datepickerBasic'>
                                                                        <input type='text' class="form-control" required v-model="user.birth_date">
                                                                        <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar">
                                                                    </span></span>
                                                                    </div>
                                                                    <!--                                                                <span class="help-block form-error">Tempat lahir tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </tab-content>

                                                <tab-content title="Data Diri" icon="fa fa-home" :before-change="beforeTab2">
                                                    <form id="formTab2" ref="formTab2">
                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Tipe Kartu Identitas <sup class="color-danger">*</sup></label>
                                                                    <select class="form-control" required v-model="user.id_type">
                                                                        <option value="ktp">KTP</option>
                                                                        <option value="kitas">KITAS</option>
                                                                        <option value="sim">SIM</option>
                                                                        <option value="paspor">PASPOR</option>
                                                                    </select>
                                                                    <!--                                                                <span class="help-block form-error">Tipe kartu identitas tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-9">
                                                                <div class="form-group">
                                                                    <label class="control-label">No. Kartu Identitas <sup class="color-danger">*</sup></label>
                                                                    <input type="text" class="form-control" placeholder="331605xxxxxxxxxx" required v-model="user.id_number" maxlength="25">
<!--                                                                    <span class="help-block form-error">Nomor kartu identitas tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Alamat (Domisili)<sup class="color-danger">*</sup></label>
                                                                    <input type="text" class="form-control" placeholder="9blv lantai 23" required v-model="user.address">
                                                                    <!--                                                                <span class="help-block form-error">Alamat tidak boleh kosong</span> -->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Kota (Domisili)<sup class="color-danger">*</sup></label>
                                                                    <input type="text" class="form-control" placeholder="Surabaya" required v-model="user.city">
                                                                    <!--                                                                <span class="help-block form-error">Kota tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Provinsi (Domisili) <sup class="color-danger">*</sup></label>
                                                                    <input type="text" class="form-control" placeholder="Jawa Timur" required v-model="user.state">
                                                                    <!--                                                                <span class="help-block form-error">Provinsi tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Kode POS <sup class="color-danger">*</sup></label>
                                                                    <input type="text" class="form-control" placeholder="61117" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="6" required v-model="user.postal_code">
                                                                    <!--                                                                <span class="help-block form-error">Kode POS tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">Tentang Saya<sup class="color-danger">*</sup></label>
                                                                    <textarea rows="3" type="text" class="form-control" placeholder="Saya memiliki minat mengajar yang tinggi" required v-model="user.about_me" maxlength="160"></textarea>
                                                                    <span class="help-block form-error">Tentang saya tidak boleh kosong</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Link Kanal Youtube</label>
                                                                    <input type="text" class="form-control" placeholder="https://www.youtube.com/channel/UCHIFUfMxs6QUlvvteSeVnOA" required v-model="user.ytlink">
                                                                    <!--                                                                <span class="help-block form-error">Link kanal youtube tidak boleh kosong</span>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </tab-content>

                                                <tab-content title="Pengalaman Mengajar" icon="fa fa-industry" :before-change="beforeTab3">
                                                    <div class="panel">
                                                        <div class="panel-heading">
                                                            <button type="button" class="btn-sm" style="border: none" @click="modalAddTeachingExp">
                                                                <span>Tambah Pengalaman Mengajar <i class="panel-control-icon fa fa-plus"></i></span>
                                                            </button>
                                                        </div>
                                                        <div class="panel-body">
                                                            <table v-for="(exp, index) in user.teaching_experiences">
                                                                <tr>
                                                                    <td>
                                                                        <h6 style="margin-top: 0 !important; line-height: 1.1 !important; margin-bottom: 0 !important;">
                                                                            {{ exp.school }} - {{ exp.city }}
                                                                            <br/>
                                                                            {{ exp.subject }} - {{ getDescription(grades, exp.class) }} ({{ getDescription(teaching_statuses, exp.teaching_status) }})
                                                                            <br/>
                                                                            <small>
                                                                                {{ exp.from }} - {{ exp.to }}
                                                                                <br/>
                                                                                Portofolio: {{ exp.portofolio }}
                                                                            </small>
                                                                        </h6>
                                                                    </td>
                                                                    <td style="width: 1rem">
                                                                        <button type="button" class="btn-sm" style="border: none" @click="user.teaching_experiences.splice(index, 1)">
                                                                            <i class="fa fa-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </tab-content>

                                                <tab-content title="Latar Belakang Pendidikan" icon="fa fa-graduation-cap" :before-change="beforeTab4">
                                                    <div class="panel">
                                                        <div class="panel-heading">
                                                            <button type="button" class="btn-sm" style="border: none" @click="modalAddEducation">
                                                                <span>Tambah Latar Belakang Pendidikan <i class="panel-control-icon fa fa-plus"></i></span>
                                                            </button>
                                                        </div>
                                                        <div class="panel-body">
                                                            <table v-for="(education, index) in user.educations">
                                                                <tr>
                                                                    <td>
                                                                        <h6 style="margin-top: 0 !important; line-height: 1.1 !important; margin-bottom: 0 !important;">
                                                                            {{ education.major }} {{ getDescription(education_levels, education.level) }} - {{ education.college }}
                                                                            <br/>
                                                                            {{ education.from }} - {{ education.to }}
                                                                            <br/>
                                                                            <small>
                                                                                IPK: {{ education.score }}
                                                                            </small>
                                                                        </h6>
                                                                    </td>
                                                                    <td style="width: 1rem">
                                                                        <button type="button" class="btn-sm" style="border: none" @click="user.educations.splice(index, 1)">
                                                                            <i class="fa fa-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </tab-content>

                                                <tab-content title="Upload Berkas Foto" icon="fa fa-upload">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="profileImgPicker">
                                                                        Foto Profile <sup class="color-danger">*</sup>
                                                                        <br/>
                                                                        <img class="img-picker" id="profileImgPreview" :src="user.profile_img_url ? user.profile_img_url : 'http://dummyimage.com/400x200/f5f5f5/000.jpg&text=Click+here+to+upload+your+image'" alt="image-profile" /></label>
                                                                    <input id="profileImgPicker" style="display: none" type="file" accept="image/*" @change="imgProfileChange">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="idImgPicker">
                                                                        Foto KTP <sup class="color-danger">*</sup>
                                                                        <br/>
                                                                        <img class="img-picker" id="idImgPreview" :src="user.id_card_img_url ? user.id_card_img_url : 'http://dummyimage.com/400x200/f5f5f5/000.jpg&text=Click+here+to+upload+your+image'" alt="image-profile" /></label>
                                                                    <input id="idImgPicker" style="display: none" type="file" accept="image/*" @change="imgIdChange">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="selfieImgPicker">
                                                                        Foto Wajah Dengan Memegang KTP <sup class="color-danger">*</sup>
                                                                        <br/>
                                                                        <img class="img-picker" id="selfieImgPreview" :src="user.selfie_card_img_url ? user.selfie_card_img_url : 'http://dummyimage.com/400x200/f5f5f5/000.jpg&text=Click+here+to+upload+your+image'" alt="image-profile" />
                                                                    </label>
                                                                    <input id="selfieImgPicker" style="display: none" type="file" accept="image/*" @change="imgSelfieChange">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="diplomaImgPicker">
                                                                        Foto Ijazah Terakhir <sup class="color-danger">*</sup>
                                                                        <br/>
                                                                        <img class="img-picker" id="diplomaImgPreview" :src="user.diploma_img_url ? user.diploma_img_url : 'http://dummyimage.com/400x200/f5f5f5/000.jpg&text=Click+here+to+upload+your+image'" alt="image-profile" />
                                                                    </label>
                                                                    <input id="diplomaImgPicker" style="display: none" type="file" accept="image/*" @change="imgDiplomaChange">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </tab-content>

                                            </form-wizard>


                                            <!-- / Modal Add Teaching Experience /-->
                                            <div class="modal fade" id="addTeachingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div role="document" class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form class="p-20" @submit.prevent="addTeachingExperience">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="myModalLabel">Tambah Pengalaman Mengajar<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-9">
                                                                        <div class="form-group">
                                                                            <label>Nama Sekolah</label>
                                                                            <input type="text" class="form-control" placeholder="SMP 1" v-model="teaching_experience.school" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label>Kota</label>
                                                                            <input type="text" class="form-control" placeholder="Surabaya" v-model="teaching_experience.city" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>Tingkat Kelas</label>
                                                                            <select class="form-control" v-model="teaching_experience.class" required>
                                                                                <option v-for="grade in grades" :value="grade.value">{{ grade.description }}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <div class="form-group">
                                                                            <label><br>Mata Pelajaran</label>
                                                                            <input type="text" class="form-control" placeholder="Matematika" v-model="teaching_experience.subject" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label>Status Mengajar</label>
                                                                            <select class="form-control" v-model="teaching_experience.teaching_status" required>
                                                                                <option v-for="teaching_status in teaching_statuses" :value="teaching_status.value">{{ teaching_status.description }}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Portofolio</label>
                                                                            <textarea rows="2" type="text" class="form-control" placeholder="Tulis portofolio anda disini" v-model="teaching_experience.portofolio" required></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-5">
                                                                        <div class="form-group">
                                                                            <label>Dari</label>
                                                                            <div class='input-group date table-adjust' id='teachFromDate'>
                                                                                <input type='text' class="form-control" name='TeachFromDateV' v-model="teaching_experience.from" required>
                                                                                <span class="input-group-addon">
                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>&nbsp;</label>
                                                                            <div class="text-center">-</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <div class="form-group">
                                                                            <label>Sampai</label>
                                                                            <div class='input-group date table-adjust' id='teachToDate'>
                                                                                <input type='text' class="form-control" v-model="teaching_experience.to" required>
                                                                                <span class="input-group-addon">
                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="btn-group" role="group">
                                                                    <button type="submit" class="btn bg-success btn-wide btn-rounded"><i class="fa fa-check"></i>Save</button>
                                                                    <button type="button" class="btn btn-gray btn-wide btn-rounded" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- / Modal Add Educational Background /-->
                                            <div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div role="document" class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form class="p-20" @submit.prevent="addEducationBackground">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Tambah Latar Belakang Pendidikan<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-9">
                                                                        <div class="form-group">
                                                                            <label>Jurusan Kuliah</label>
                                                                            <input type="text" class="form-control" placeholder="PGSD" v-model="education.major" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label>Strata</label>
                                                                            <select class="form-control" v-model="education.level" required>
                                                                                <option v-for="level in education_levels" :value="level.value">{{ level.description }}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Nama Perguruan Tinggi</label>
                                                                            <input type="text" class="form-control" placeholder="Universitas xxxxx" v-model="education.college" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Judul Thesis</label>
                                                                            <input type="text" class="form-control" placeholder="Masukkan thesis anda" v-model="education.thesis" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label>IPK</label>
                                                                            <input type="text" class="form-control" placeholder="IPK anda" v-model="education.score" required>
                                                                            <small>* Contoh: 3.75</small>
																		</div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label>Dari</label>
                                                                            <div class='input-group date table-adjust' id='eduFromDate'>
                                                                                <input type='text' class="form-control" v-model="education.from" required>
                                                                                <span class="input-group-addon">
                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <div class="form-group">
                                                                            <label>&nbsp;</label>
                                                                            <div class="text-center">-</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="EduToDate">Sampai</label>
                                                                            <div class='input-group date table-adjust' id='eduToDate'>
                                                                                <input type='text' class="form-control" v-model="education.to" required>
                                                                                <span class="input-group-addon">
                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="btn-group" role="group">
                                                                    <button type="submit" class="btn bg-success btn-wide btn-rounded"><i class="fa fa-check"></i>Save</button>
                                                                    <button type="button" class="btn btn-gray btn-wide btn-rounded" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.col-md-6 -->
                                    </div>
                                    <!-- /.row -->

                                </div>
                                <!-- /.container-fluid -->
                            </section>
                            <!-- /.section -->
						</div>
                        </div>
                        <!-- /.main-page -->
