
					<div class="main-page">
                        <%- include(ContentHeader) %>

                        <section class="section">
                            <div class="container-fluid">
                                <div class="row">
								<% if(ContentMain != ""){ %>
                                    <%- include(ContentMain) %>
								<% } %>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </section>


                    </div>
                    <!-- /.main-page -->