
            <!-- ========== TOP NAVBAR ========== -->
            <nav class="navbar top-navbar bg-white box-shadow">
            	<div class="container-fluid">
                    <div class="row">
					
                        <div class="navbar-header no-padding">
                			<a class="navbar-brand" href="">
                			    <img src="/options_admin/images/sebisles_dark.png" alt="SebisLes - Admin Pages" class="logo">
                			</a>
							<!--
							<span class="small-nav-handle hidden-sm hidden-xs"><i class="fa fa-outdent"></i></span>
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                				<span class="sr-only">Toggle navigation</span>
                				<i class="fa fa-ellipsis-v"></i>
                			</button>
							//-->
                            <button type="button" class="navbar-toggle mobile-nav-toggle" >
                				<i class="fa fa-bars"></i>
                			</button>
                		</div>

                		<div class="collapse navbar-collapse" id="navbar-collapse-1">
                			<ul class="nav navbar-nav navbar-right" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <!-- <li><a href="#" class=""><i class="fa fa-bell"></i></a></li>		//-->
                				<!-- <li><a href="#" class=""><i class="fa fa-comments"></i></a></li>	//-->
								<!--
                				<li class="dropdown">
								<!--
                					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= ContentData.peopleName %><span class="caret"></span></a>
                					<ul class="dropdown-menu profile-dropdown">
									
                						<li class="profile-menu bg-gray">
                						    <div class="">
                						        <img src="http://placehold.it/60/c2c2c2?text=User" alt="<%= ContentData.peopleName %>" class="img-circle profile-img">
                                                <div class="profile-name">
                                                    <h6><%= ContentData.peopleName %></h6>
                                                    <a href="/profile">View Profile</a>
                                                </div>
                                                <div class="clearfix"></div>
                						    </div>
                						</li>
										
                						<!-- <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li> //-->
                						<!-- <li><a href="/profile"><i class="fa fa-sliders"></i> View Profile</a></li> //-->
                						<!-- <li role="separator" class="divider"></li> //-->
                						<!--
										<li><a href="#" id="lgbtn" name="lgbtn" data-google="<%= ContentData.getIdentities.pushType %>" class="color-danger text-center" onClick="googleLogout(this)"><i class="fa fa-sign-out"></i> Logout</a></li>
									</ul>
								</li>
								//-->
                            </ul>
                		</div>
                    </div>
            	</div>
            </nav>
