						
						<div class="container-fluid">
                            <div class="row page-title-div">
                                <div class="col-md-6">
                                    <h4 class="title"><%= ContentData.peopleName %><small class="ml-10">Balance Page</small></h4>
                                    <p class="sub-title">admin dashboard!</p>
                                </div>
                                <!-- /.col-md-6 -->
                            </div>
                            <!-- /.row -->
                            <div class="row breadcrumb-div">
                                <div class="col-md-6">
                                    <ul class="breadcrumb">
            							<li><a href="/home"><i class="fa fa-home"></i> Dashboard</a></li>
            							<li class="active">Balance</li>
            						</ul>
                                </div>
                                <!-- /.col-md-6 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->