						
						<div class="container-fluid">
                            <div class="row page-title-div">
                                <div class="col-md-6">
                                    <h4 class="title"><%= ContentData.peopleName %><small class="ml-10">Menu Page</small></h4>
                                    <p class="sub-title">One stop solution for perfect admin dashboard!</p>
                                </div>
                                <!-- /.col-md-6 -->

                                <div class="col-md-6 right-side">
                                    <!--<a class="btn bg-black toggle-code-handle" role="button" onClick="location.replace('http://localhost:3000/article/add')">Add Article</a>//-->
                                    <a class="btn bg-black toggle-code-handle" role="button"  data-toggle="modal" data-target="#addMenuData" onClick="replacer()">Add Menu</a>
                                </div>
                                <!-- /.col-md-6 text-right -->
                            </div>
                            <!-- /.row -->
                            <div class="row breadcrumb-div">
                                <div class="col-md-6">
                                    <ul class="breadcrumb">
            							<li><a href="/home"><i class="fa fa-home"></i> Dashboard</a></li>
            							<li class="active">Menu</li>
            						</ul>
                                </div>
                                <!-- /.col-md-6 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->