<!-- Modal Add-->
<div class="modal fade" id="generateLinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Generate Link<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></h4>
            </div>
            <div class="modal-body">
			<form id="frGenLink" name="frGenLink" class="p-20" action="" method="POST">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="dataLink">Old Link</label>
							<input type="text" readonly class="form-control" name="dataLink" id="dataLink" placeholder="http://" value="http://goo.gl/kj8asjda9sjasd8hjas8dahjs9ahsd9ijjajs">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="text-center">
								<button type="button" class="btn btn-success"><i class="fa fa-send-o"></i>GENERATE NEW LINK</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="NewdataLink">New Link</label>
							<input readonly type="text" class="form-control" name="NewdataLink" id="NewdataLink" placeholder="http://" value="http://goo.gl/8shjd8ausdiewqhjry38rh3ir9kjkasigsdfs">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h5>This New Link is Automatic Send to Mentor & Students</h5>
					</div>
				</div>
			</form>
			</div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-gray btn-wide btn-rounded" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                </div>
            </div>
		</div>
    </div>
</div>
<!-- /.Modal Add-->

<!-- / Modal Image Viewer /-->
<div class="modal fade" id="imageViewerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 900px; margin: 30px auto;">
        <div class="modal-content">
			<div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></h4>
            </div>
            <div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<img src="/images/605da73ec7b8a52990c9ebf9.png" alt="User Avatar" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>